<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/history.css">
    <title>History</title>
</head>
<body>
    <header>
        <nav class='navigation'>
            <div class='navigation-items menu'>
                <img src='/png/001-burger.png'>
                <P>New OLNS</P>
            </div>
            <a href='/index.html' class='navigation-items'>
                <img src='/png/002-home.png'>
                <p>Home</p>
            </a>
            <a href='/templates/essentials.html' class='navigation-items'>
                <img src='/png/003-about.png'>
                <p>Essentials</p>
            </a>
            <a href='/templates/history.html' class='navigation-items'>
                <img src='/png/history.png'>
                <p>History</p>
            </a>
            <a href='#footer' class='navigation-items last'>
                <img src='/png/004-call.png'>
                <p>Contact</p>
            </a>
        </nav>
        <section class='content' style="background-image: url('/images/history.jpg');">
            <div>
                <h1><span>THE HISTORY OF NEW ORLEANS</span></h1>
                <p><b>Get to know the history of new orleans.</b></p>
                <a href='#main'>See more</a>
            </div>
        </section>
    </header>
    <!--  https://www.history.com/topics/us-states/new-orleans    -->
    <main id='main'>
        <div>
            <h3>France and the Founding of New Orleans</h3>
            <p>In 1718 the French established New Orleans from swampland along the Mississippi River and Gulf of Mexico. 
                New Orleans quickly developed into a rich port city, shipping timber, minerals, agricultural and 
                products most notably, high-quality furs from the Mississippi Valley and interior of the still-unexplored.
                continent. A main reason why new orleans was important to the U.S and France.Unfortunately, France had to sell
                new orleans to the U.S because It needed money for war with Britain.
            </p>
        </div>
        <div>
            <h3>New Orleans Under Spanish Rule and the Louisiana Purchase</h3>
            <p>During the first half of the 1800s century, New Orleans was the United States' richest and third-largest city. 
                In 1800, the Spanish retroceded Louisiana back to France, only to have Napoleon sell the entire Louisiana colony, including New Orleans,
                 to the United States as part of the $15 million Louisiana Purchase, finalized on December 20, 1803 One reason was because 
                the cession of Louisiana (The Treaty of Paris, made between France and Great Britain following the Seven Years' War, divided Louisiana at the Mississippi) 
                was kept secret for over a year. France feared that Louisiana would become British.
                The city's population was approximately 102,000 by 1840, making it the third largest in the country.
                As of 1850, the population of the city reached 116,375.Despite New Orleans' rapid growth, it had not learned to
                cope with the health hazards of its rapid growth: drinking water came from cisterns or rivers;
                 there was no sewerage system; drainage was inadequate; and flooding occurred frequently after heavy rains.
           </p>
        </div>
        <div>
            <h3>New Orleans in the 1800s</h3>
            <p>During the first half of the 19th century, New Orleans became the United States’ wealthiest and third-largest city. Its port shipped the produce of much of the nation’s interior to the Caribbean, South America and Europe. Thousands of enslaved people were sold in its markets, but its free Black community thrived. Until 1830, the majority of its residents still spoke French.At the start of the Civil War, New Orleans was the largest city in the Confederacy, but it was only a year until Union troops, having captured its downriver defenses, took the city unopposed. During the Reconstruction era race became a potent political force, as emancipated enslaved people and free people of color were brought into the political process and, with the 1870s rise of the White League and the Ku Klux Klan, forced back out of it. Although the rise of railroads made shipping on the Mississippi less essential than it had been, New Orleans remained a powerful and influential port.</p>
        </div>
    </main>
    <footer id='footer'>
        <h3>Contact us</h3>
        <ul>
            <li><a href=""><img src='/png/facebook.png'></a></li>
            <li><a href=""><img src='/png/insta.png'></a></li>
            <li><a href=""><img src='/png/twitter.png'></a></li>
            <li><a href=""><img src='/png/mail.png'></a></li>
        </ul>
        <p>@copyright mywebsite</p>

    </footer>
</body>
</html>