<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class='navigation'>
            <div class='navigation-items menu'>
                <img src='/png/001-burger.png'>
            </div>
            <a href='#' class='navigation-items'>
                <img src='png/002-home.png'>
                <p>Home</p>
            </a>
            <a href='#' class='navigation-items'>
                <img src='png/003-about.png'>
                <p>About</p>
            </a>
            <a href='' class='navigation-items'>
                <img src='png/004-call.png'>
                <p>Contact</p>
            </a>
            <a href='#' class='navigation-items last'>
                <img src='png/005-logout.png'>
                <p>Logout</p> 
            </a>
        </nav>
        <section class='content'>
            <div>
                <h1><span>NEW</span> ORLEANS</h1>
                <p>Looking for a city <br>to spend your vacation<br> you've come to the right place.</p>
                <a href='#main'>See more</a>
            </div>
        </section>
    </header>
    <section class='banner'>
        <!-- icons from https://icons8.com/icons/set/motto -->
        <div>
            <img src="images/foundation.png" alt="Foundation date">
            <h4>Foundation Date</h4>
            <span>1718</span>
        </div>
        <div>
            <img src="images/population.png" alt="population">
            <h4>Population</h4>
            <span>998,000</span>
        </div>
        <div>           
            <img src="images/motto.png" alt="motto">
            <h4>Motto</h4>
            <span>Laissez les bon temps rouler</span>
        </div>
    </section>
    <main id='main'>
        <div>
            <img src="images/main1.jpg" alt="">
            <div class='text-area'>
                <h2>What is New Orleans famous for?</h2>
                <p>What is New Orleans Most Famous For? New Orleans is renowned for its extravagant Mardi Gras celebration, jazz clubs, 18th-century buildings, and thriving practice of voodoo. The annual festivity often lasts for 2 weeks, with loud music, quirky costumes, and elaborate floats parading through the streets of the city.</p>
            </div>        
        </div>
        <div>
            <img src="images/food.jpg" alt="">
            <div class="text-area">
                <h2>What are the best places to eat in New Orleans?</h2>
                <p>You’ll find oysters, raw, broiled, baked, deep-fried or piled on a po’boy, in almost every corner of New Orleans. The lines are long at Acme Oyster House, the oldest oyster bar in the French Quarter, but it’s a must stop for oyster lovers. Choose a seat at the bar were you can watch your oysters being shucked. If you’d rather have a beer with your oysters, try Crescent City Brewhouse. The restaurant hosts jazz bands most nights and has a full menu if you’re traveling with companions who don’t appreciate oysters.
                Get more for less by searching out restaurants with happy hour pricing on oysters. Samuel’s Blind Pelican has raw bar oysters for a quarter and charred oysters for $10 a dozen, as well as 50 beers on</p>
            </div>
        </div>
        <div>
            <img src="images/food.jpg" alt="">
            <div class="text-area">
                <h2>What are the best places to eat in New Orleans?</h2>
                <p>You’ll find oysters, raw, broiled, baked, deep-fried or piled on a po’boy, in almost every corner of New Orleans. The lines are long at Acme Oyster House, the oldest oyster bar in the French Quarter, but it’s a must stop for oyster lovers. Choose a seat at the bar were you can watch your oysters being shucked. If you’d rather have a beer with your oysters, try Crescent City Brewhouse. The restaurant hosts jazz bands most nights and has a full menu if you’re traveling with companions who don’t appreciate oysters.
                Get more for less by searching out restaurants with happy hour pricing on oysters. Samuel’s Blind Pelican has raw bar oysters for a quarter and charred oysters for $10 a dozen, as well as 50 beers on</p>
            </div>
        </div>
    </main>
    <footer>
        <h3>Contact us</h3>
        <ul>
            <li><a href=""><img src='images/facebook.png'></a></li>
            <li><a href=""><img src='images/insta.png'></a></li>
            <li><a href=""><img src='images/twitter.png'></a></li>
            <li><a href=""><img src='images/mail.png'></a></li>
        </ul>
        <p>@copyright mywebsite</p>

    </footer>
</body>
</html>