@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* ...............................................................navigation section................................. */
.navigation {
  width: 100px;
  height: 98vh;
  background: #EDEDED;
  position: fixed;
  top: 0.5rem;
  left: 0.9rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s ease-in-out;
  border-radius: 15px;
  z-index: 5;
}

.navigation-items {
  text-decoration:none;
  transition: 0.2s ease-in-out;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-items img {
  opacity: 1;
  width: 35px;
  height: 35px;
    transition: 0.4s ease-in-out;
}
.navigation-items img:hover {
    width: 45px;
    height: 45px;
}

.navigation-items p {
  font-size: 15px;
  position: relative;
  left: 10px;
  display: none;
}

.last {
  margin-top: auto;
}

@media screen and (min-width:900px){
    .navigation:hover {
        width: 200px
    }
    .navigation:hover .navigation-items{
        align-self:flex-start;
        padding-left:15px;
    }
    .navigation:hover .navigation-items p{
        display:block;
        color:black;
    }
}

/* ..................................................Header section..................................... */

header {
  background-image: linear-gradient(#FFE5E2, #D1E8E4,#ffffff);
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
}

header .content {
  background-size:cover;
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
  color: white;
}

.content div h1 {
  font-family: "Lilita One", cursive;
  font-size: 6rem;
  letter-spacing: 3px;
}

.content div p {
  font-size:1.2rem;
  line-height: 2.3;
  margin: 1rem;
}

.content div a {
  border-radius: 15px;
  background: white;
  color: black;
  width: 25%;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 1rem;
}
/*................................... .the main section .............................................. */
#main {
    font-family: "Montserrat", sans-serif;
    padding: 2rem;
    height: 140vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container1 {
    height:inherit;
    width: 70vw;
    background:#FEFBF3;
    background-repeat:no-repeat;
    background-size:cover;
}
.container2 {
    padding: 0 3rem;
    height:inherit;
    width: 50vw;
    background:#F1F7E7;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
}
.container2 > div {
    padding: 2rem;
    background:rgb(299,299,299,0.4);
    display:flex;
    justify-content:space-around;
    align-items:left;
    flex-direction:column;
}
.container2 > div > p {
    width: 400px;
}
.container2 div img,.container2 div p,.container2 div ul,.container2 div ul li {
    margin: 5px 0;
}
.container2 div ul li {
    color:#00A19D;
}
/* .......................................................footer section............................. */
footer {
  color:white;
  font-family: 'Montserrat',sans-serif;
  height: 30vh;
  background-image: linear-gradient(#D4ECDD,#EEEEEE);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer ul{
  margin:1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul li {
  list-style-type: none;
  margin:0.7rem;
}
footer ul li img {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out;
}
footer ul li img:hover {
  transform: rotate(45deg);
}
/* .................................................mobile response .................................... */
@media screen and (max-width: 900px) {
  .navigation {
    width: 95vw;
    height: 8vh;
    justify-content: space-around;
    flex-direction: row;
    bottom: 1rem;
    left: 0.5rem;
    margin-top: auto;
  }
  .content h1 {
    margin-left: 10%;
  }
}