@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
hr {
  margin:2rem;
  border-color: grey;
  border:none;
  border-top-style: dotted;
  height: 1px;
  position: relative;
  left: 42%;
  width: 15%;
  opacity: 0.5;
}
/* ...............................................................navigation section................................. */
.navigation {
  width: 100px;
  height: 98vh;
  background: #EDEDED;
  position: fixed;
  top: 0.5rem;
  left: 0.9rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s ease-in-out;
  border-radius: 15px;
  z-index: 5;
}

.navigation-items {
  transition: 0.2s ease-in-out;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-items img {
  opacity: 1;
  width: 35px;
  height: 35px;
   transition: 0.4s ease-in-out;
}
.navigation-items img:hover {
    width: 45px;
    height: 45px;
}
.navigation-items p {
  font-size: 15px;
  position: relative;
  left: 10px;
  display: none;
}

.last {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width:900px){
    .navigation:hover {
        width: 200px
    }
    .navigation:hover .navigation-items{
        align-self:flex-start;
        padding-left:15px;
    }
    .navigation:hover .navigation-items p{
        display:block;
        color:black;
    }
}

/* ..................................................Header section..................................... */

header {
  font-family: "Montserrat", sans-serif;
  background: #FEF5ED;
  width: 100vw;
  height: 100vh;
}

header .content {
  background-size:cover;
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
  color: white;
}

.content div h1 {
  font-family: "Lilita One", cursive;
  font-size: 6rem;
  letter-spacing: 3px;
}

.content div p {
  font-size:1.2rem;
  line-height: 2.3;
  margin: 1rem;
}

.content div a {
  border-radius: 15px;
  background: white;
  color: black;
  width: 25%;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 1rem;
}
/*................................... .the main section .............................................. */
#main {
    font-family: "Montserrat", sans-serif;
    background:#E8E8E8;
    min-height: 110vh;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
    padding: 3rem 0;
}
#main div {
    padding:1.5rem 1.5rem;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
    width: 900px;
    height: 300px;
    background:#F9F9F9;
    margin:1rem;

}
#main div p {
    line-height:1.8;
    overflow: auto;
}
#main div h3 {
    font-size: 2rem;
    color:#94D0CC;
    margin-bottom: 15px;
}

/* .......................................................footer section............................. */
footer {
  color:white;
  font-family: 'Montserrat',sans-serif;
  height: 30vh;
  background-image: linear-gradient(#D4ECDD,#EEEEEE);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer ul{
  margin:1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul li {
  list-style-type: none;
  margin:0.7rem;
}
footer ul li img {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out;
}
footer ul li img:hover {
  transform: rotate(45deg);
}
/* .................................................mobile response .................................... */
@media screen and (max-width: 900px) {
  .navigation {
    width: 95vw;
    height: 8vh;
    justify-content: space-around;
    flex-direction: row;
    bottom: 1rem;
    left: 0.5rem;
    margin-top: auto;
  }
  .content h1 {
    margin-left: 20%;
  }
  .content div h1 span {
    margin-left: 13%;
  }
    #main div {
        width: 500px;
        height:400px;
    }
    #main div h3 {
        font-size:1.5rem;
    }
}