@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.banner {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.navigation {
  width: 100px;
  height: 98vh;
  background: white;
  position: fixed;
  top: 0.5rem;
  left: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 15px;
}

.navigation-items {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation-items img {
  opacity: 1;
  width: 35px;
  height: 35px;
}

.navigation-items p {
  font-size: 15px;
  position: relative;
  left: 10px;
  display: none;
}

.last {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 900px) {
  .navigation {
    width: 95vw;
    height: 8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    bottom: 1rem;
    left: 0.6rem;
    margin-top: auto;
  }
  .content h1 {
    margin-left: 10%;
  }
  .content div h1 span {
    margin-left: 13%;
  }
}

header {
  font-family: "Montserrat", sans-serif;
  background: #FEF5ED;
  width: 100vw;
  height: 100vh;
}

header .content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE5E2), to(#B6C9F0));
  background-image: linear-gradient(#FFE5E2, #B6C9F0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  color: white;
}

.content div h1 {
  font-family: "Lilita One", cursive;
  font-size: 6rem;
  letter-spacing: 3px;
}

.content div p {
  line-height: 2.3;
  margin: 1rem;
}

.content div a {
  border-radius: 15px;
  background: white;
  color: black;
  margin-right: 5rem;
  width: 25%;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 1rem;
}
/*# sourceMappingURL=styles.css.map */